body {
  font-family: "Avenir", sans-serif;
}

#header-image {
  width: 100%;
}

header {
  width: 50%;
}

h5 {
  position: relative;
  margin-top: -10px;
  text-align: right;
}

h4 {
  margin-bottom: 0;
}

header {
  margin-bottom: 50px;
}

article {
  height: auto;
  width: 250px;
  margin: 10px;
  background-color: #30accc;
  padding: 20px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
}

article p {
  margin-bottom: 20px;
  margin-top: 0px;
}

.individual-details {
  font-size: 10;
}

#beer-list {
  display: flex;
  flex-wrap: wrap;
}
